h1 {
	color: #444444;
	margin-left: 40px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 36pt; 
} 

h3 {
	color: #27cce4;
	margin-left: 40px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 24pt; 
} 
		
p {
	color: #444444;
	margin-left: 40px;
	font-family: 'Roboto Slab', serif;
}

li {
	color: #444444;
	margin-left: 20px;
	list-style: none;
	line-height: 15px;
}
a {
	color: #27cce4;
	font-family: 'Roboto Slab', serif;
}


